#gallery{
  header{
    padding-top: 80px;
    padding-bottom: 40px;
    color: $color-main;
    text-align: center;

    h2{
      font-size: 5rem;
    }
  }

  .gallery{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .gallery-item{
    position: relative;
    overflow: hidden;
    width: 300px;

    .gallery-item-caption{
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      color: #fff;
      background-color: #000;
      box-shadow: 0 -20px 82px 55px #000;
      opacity: 0;
      transition: opacity .3s ease;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 5px;

      h4{
        margin-bottom: 0;
      }
    }

    &:hover{
      .gallery-item-caption{
        opacity: 1;
      }
    }
  }
}

.modal-backdrop.show{
  opacity: .8;
}

#gallery-modal{
  .modal-content{
    background-color: transparent;
    border: none;
  }

  .modal-title{
    font-weight: $font-weight-bold;
    color: $color-alt;
  }

  .modal-header,
  .modal-footer{
    border: none;
  }
  .modal-header{
    padding-bottom: 0;
  }

  .close{
    opacity: 1;
    color: #fff;
  }
}