$font-family-main: Lato, sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

$color-main: #488348;
$color-alt: #fbba08;
$color-alt-dark: #013e1c;
$color-gray: #6d6e70;